body {
    background-color: rgb(216, 233, 215);
}

pre {
    overflow-x: auto;
    overflow-wrap: normal;
    white-space: pre;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace
}

.oauth_token {
    text-align: center;
}

.oauth_token > div {
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    font-size: 22px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.content {
    background-color: white;
    min-height: 200px;
    border-top: solid rgb(229, 229, 229) 4px;
    border-bottom: solid rgb(229, 229, 229) 4px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: gray;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}

.affix-top {
}

.affix {
    position: fixed;
    top: 19px;
    left: 0px;
}

.title-main {
    font-size: 4em;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

.header-main {
    text-align: center;
    margin-top: 20px;
}
/*
.subtitle {
    display: block;
    font-size: 2em;
    line-height: 1em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-style: italic;
}
*/

.title-other {
    font-size: 2em;
    letter-spacing: 0px;
    margin: 0px;
    margin-left: 10px;
}

.header-other {
    text-align: left;
}

