{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
        <meta name="author" content="Ivan Zuzak" />
{% endblock %}
{% block content %}
          <div class="row">
            <div class="span3 bs-docs-sidebar">
              <ul class="nav nav-list bs-docs-sidenav">
                <li><a href="#intro"><i class="icon-chevron-right"></i> &#x2460; Introduction</a></li>
                <li><a href="#usage"><i class="icon-chevron-right"></i> &#x2461; Usage instructions</a></li>
                <li><a href="#example"><i class="icon-chevron-right"></i> &#x2462; Example</a></li>
                <li><a href="#tokens"><i class="icon-chevron-right"></i> &#x2463; Create OAuth tokens</a></li>
                <li><a href="#create"><i class="icon-chevron-right"></i> &#x2464; Create a bin</a></li>
                <li><a href="#search"><i class="icon-chevron-right"></i> &#x2465; Find your bins</a></li>
              </ul>
            </div>

            <div class="span9">
              <a name="intro"></a>
              <section>
                <h2> &#x2460; Introduction </h2>
                <p>
                  Appendr is Web service that <b>simplifies automated collection of key-value data</b>. Appendr itself <b> does not store any data </b> except for a link to an external service which is used for storing your data.
                  Appendr just <b> wraps the external storage services to provide a simple API </b> for timestamping and appending data, which most external services do not provide.
                  In other words, Appendr is a <b> key-value pair append-only logging utility that uses external services for storage</b>.
                </p>
                <p>
                  <b>More information</b> about Appendr and what it is good for is available on the <a href="https://github.com/izuzak/appendr">project's GitHub page</a>.
                </p>
                <p>
                  Some of the features of Appendr are:
                  <ul>
                    <li> <b> CORS support </b>- Appendr may be called cross-domain from a JavaScript script in a browser</li>
                    <li> <b> Support for concurrent appends </b> - Appendr will handle multiple data appends sent to it at the same time</li>
                    <li> <b> Fault tolerance </b> - Appendr will retry storing data on an external service if the  service is down</li>
                    <li> <b> Supported external storage services </b> - GitHub Gist, Dropbox</li>
                    <li> <b> Supported input formats </b> - JSON, URL-encoded params</li>
                    <li> <b> Supported output formats </b> - JSON, CSV </li>
                  </ul>
                </p>
              </section>
              <section>
                <a name="usage"></a>
                <h2> &#x2461; Usage instructions </h2>

                <p>
                  <i> Detailed usage instructions are available on the <a href="https://github.com/izuzak/appendr">project's GitHub page</a>. </i>
                </p>

                <p>
                  First, <b>create OAuth tokens for external storage services</b> you want to use, using the links below.
                </p>

                <p>
                  Second, <b>create an Appendr bin</b> by choosing an external storage service and providing an OAuth token for it. You can create as many bins as you want. Bins can be created either via the form below or via Appendr's API. Creating a bin gives you links to raw and HTML versions of the associated data stored on the external storage service used for that bin.
                </p>

                <p>
                  Third, <b>send data to the bin</b> using Appendr's API and the data will be saved on the external service. You can also use a bin's web page to append some dummy data. Appendr will automatically timestamp the data sent to it and append it to the existing data in external storage. Each bin keeps track of the status of data append tasks and exposes these statuses when you query the bin.
                </p>

                <p>
                  Fourth, <b>get a list of your bins</b> on a specific external storage service by providing an OAuth token for that service. Again, this can be done either via the form below or via Appendr's API.
                </p>
              </section>
              <section>
                <a name="example"></a>
                <h2> &#x2462; Example </h2>

                <p>
                  <b>See a <a href="https://appendr.appspot.com/bins/7A4nk78R280BnImcMw7V">demo bin</a></b> I have created. This bin uses the GitHub Gist service for storing data, and already has some data appended to it. <b>View the data</b> by following the "Content URL (raw)" or "Content URL (html):" links.
                </p>
                <p>
                  <b>Try appending some dummy data</b> yourself by clicking the "Append fake data" button at the bottom of the screen. Notice that <b>each time a task is created</b> and you can track the status of the append task. The task of appending data has completed successfully if its status is "completed".
                </p>
                <p>
                  <b>View the data on the external service again</b> to verify that new data has been appended.
                </p>
              </section>
              <section>
                <a name="tokens"></a>
                <h2> &#x2463; Create OAuth tokens </h2>

                <p>
                  Use the following links to create OAuth tokens for external storage services. Write down the tokens and use them when creating and searching for your bins stored on a specific storage service. If you forget your tokens - just use the links again to create new ones (you can create as many as you want, they're free).
                </p>

                <p>
                  <ul>
                    <li> <strong> GitHub </strong> - Create a GitHub OAuth API token: <a href="https://github.com/login/oauth/authorize?client_id=06cced72fb2ae0539514&scope=gist"> click here. </a> </li>
                    <li> <strong> Dropbox </strong> - Create a Dropbox OAuth API token: <a href="https://www.dropbox.com/1/oauth2/authorize?response_type=code&client_id=8jt4nhv6ipanmph&redirect_uri=https://appendr.appspot.com/oauth_token_dropbox"> click here. </a> </li>
                  </ul>
                </p>

              </section>

              <section>
                <a name="create"></a>
                <h2> &#x2464; Create a bin </h2>

                <form id="someform" class="form-horizontal" method="post" action="/bins">
                  <div class="control-group">
                    <label class="control-label" for="create-backend-storage">External storage</label>
                    <div class="controls">
                      <select name="storage_backend" id="create-backend-storage">
                        <option value="gist">GitHub Gist</option>
                        <option value="dropbox">Dropbox</option>
                      </select>
                      <!-- <span class="help-inline">Inline help text</span> -->
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="create-public-gist">Public file? (Gist only)</label>
                    <div class="controls">
                      <label class="checkbox">
                        <input name="is_public" id="create-public-gist" type="checkbox" value="true">
                      <!-- <span class="help-inline">Inline help text</span> -->
                      </label>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="create-output-format">Output format</label>
                    <div class="controls">
                      <select name="output_format" id="create-output-format">
                        <option value="application/json">JSON</option>
                        <option value="text/csv">CSV</option>
                      </select>
                      <!-- <span class="help-inline">Inline help text</span> -->
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="create-filename">Filename</label>
                    <div class="controls">
                      <input name="filename" type="text" id="create-filename" value="data.json">
                      <!-- <span class="help-inline">Inline help text</span> -->
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="create-token">OAuth API token</label>
                    <div class="controls">
                      <input name="api_token" type="text" id="create-token">
                      <!-- <span class="help-inline">Inline help text</span> -->
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="controls">
                      <button name="" id="create-submit" type="submit" class="btn">Create bin</button>
                    </div>
                  </div>

                </form>
              </section>

              <section>
                <a name="search"></a>
                <h2> &#x2465; Find your bins </h2>

                <form id="someform" class="form-horizontal" method="get" action="/bins">
                  <div class="control-group">
                    <label class="control-label" for="create-backend-storage">External storage</label>
                    <div class="controls">
                      <select name="storage_backend" id="create-backend-storage">
                        <option value="gist">GitHub Gist</option>
                        <option value="dropbox">Dropbox</option>
                      </select>
                      <!-- <span class="help-inline">Inline help text</span> -->
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="create-token">API token</label>
                    <div class="controls">
                      <input name="api_token" type="text" id="create-token">
                      <!-- <span class="help-inline">Inline help text</span> -->
                    </div>
                  </div>

                  <div class="control-group">
                    <div class="controls">
                      <button name="" id="create-submit" type="submit" class="btn">Find bins</button>
                    </div>
                  </div>
                </form>
              </section>
            </div>
          </div>
{% endblock %}

{% block header %}
        <header class="header-main">
          <div class="container">
            <h1 class="title-main">
              Appendr
            </h1>
          </div>
        </header>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}

{% block scripts %}
        <script type="text/javascript">
          $(window).load(function () {
            $('.bs-docs-sidenav').affix({
                offset: {
                  top: 96,
                  bottom: 0
                }
            });
          });
        </script>

        <script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '51a24cc5613f5d2a14000044');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script>
{% endblock %}
